///////ADJUST///////
$backgroundColor:#29a8ce; $fontColor:#ffffff;

$bannerWidth:550px; $bannerHeight:400px;

$slideDuration:6s; $slideDelay:3s;

$backgroundImage:url(images/bg.jpg);


@import 'animation';

*{
    margin:0px;
    padding:0px;
}

#banner{
    color: $fontColor;
    width: $bannerWidth;
    height: $bannerHeight;
    background-color: $backgroundColor;
    background-image: $backgroundImage;
    overflow: hidden;
    position: static;
}


.slide{
    margin:5%;
    width:90%;
    height: 90%;
    float: left;
}



#slide1{
    opacity: 0;
     -webkit-animation: fadeIn $slideDuration infinite; /* Safari 4+ */
  -moz-animation:    fadeIn $slideDuration infinite; /* Fx 5+ */
  -o-animation:      fadeIn $slideDuration infinite; /* Opera 12+ */
  animation:         fadeIn $slideDuration infinite; /* IE 10+, Fx 29+ */
}

#slide2{
    opacity: 0;
    
    -webkit-animation: fadeIn $slideDuration infinite; /* Safari 4+ */
    -moz-animation:    fadeIn $slideDuration infinite; /* Fx 5+ */
    -o-animation:      fadeIn $slideDuration infinite; /* Opera 12+ */
    animation:         fadeIn $slideDuration infinite;/* IE 10+, Fx 29+ */
    -webkit-animation-delay: $slideDelay;
    animation-delay: $slideDelay;
}