///////ADJUST///////
$backgroundColor:#1dcb7b; $fontColor:#ffffff;

$bannerWidth:100%; $bannerHeight:400px;

$slideDuration:8s; $slideDelay:5s;

$backgroundImage:url(images/bg.jpg);


@import 'animation';
@import 'juice';

*{
    margin:0px;
    padding:0px;
}

#banner{
    color: $fontColor;
    width: $bannerWidth;
    height: $bannerHeight;
    background-color: $backgroundColor;
    background-image: $backgroundImage;
    overflow: hidden;
    @include bp(200px, 300px){
        background-color: red;
    }
}


.slide{
    position: relative;
    top:0px;
    left:0px;
    margin:5%;
    width:90%;
    height: 90%;
}



#slide1{
     -webkit-animation: fadeIn $slideDuration infinite; /* Safari 4+ */
  -moz-animation:    fadeIn $slideDuration infinite; /* Fx 5+ */
  -o-animation:      fadeIn $slideDuration infinite; /* Opera 12+ */
  animation:         fadeIn $slideDuration infinite; /* IE 10+, Fx 29+ */
    float: left;
}

#slide2{
    float:left;
    opacity: 0;
    
    -webkit-animation: fadeIn $slideDuration infinite; /* Safari 4+ */
    -moz-animation:    fadeIn $slideDuration infinite; /* Fx 5+ */
    -o-animation:      fadeIn $slideDuration infinite; /* Opera 12+ */
    animation:         fadeIn $slideDuration infinite;/* IE 10+, Fx 29+ */
    -webkit-animation-delay: $slideDelay;
    animation-delay: $slideDelay;
}