///////ADJUST///////
$backgroundColor:#29a8ce; $fontColor:#ffffff;

$bannerWidth:180px; $bannerHeight:600px;

$slideDuration:6s;

$backgroundImage:url(images/bg.jpg);


@import 'animation';


#banner{
    color: $fontColor;
    width:$bannerWidth;
    height:$bannerHeight;
    background-color: $backgroundColor;
    background-image: $backgroundImage;
    padding: 10px;
    border: 2px solid rgba(93, 93, 93, 0.5);
    overflow: hidden;    
}


.slide{
    position: fixed;
    width:100%;
    height: 600px / 115px *100px;
}

#slide1{
     -webkit-animation: fadeIn $slideDuration infinite; /* Safari 4+ */
  -moz-animation:    fadeIn $slideDuration infinite; /* Fx 5+ */
  -o-animation:      fadeIn $slideDuration infinite; /* Opera 12+ */
  animation:         fadeIn $slideDuration infinite; /* IE 10+, Fx 29+ */
}

#slide2{
    -webkit-animation: fadeIn $slideDuration infinite; /* Safari 4+ */
    -moz-animation:    fadeIn $slideDuration infinite; /* Fx 5+ */
    -o-animation:      fadeIn $slideDuration infinite; /* Opera 12+ */
    animation:         fadeIn $slideDuration infinite;/* IE 10+, Fx 29+ */
    -webkit-animation-delay: $slideDuration;
    animation-delay: $slideDuration;
}